# Django
# ------------------------------------------------------------------------------
django==3.2.10 # https://www.djangoproject.com/
djangorestframework==3.12.4 # https://www.django-rest-framework.org/
markdown==3.3.6 # https://python-markdown.github.io/
django-environ==0.8.1  # https://github.com/joke2k/django-environ

# Testing
# ------------------------------------------------------------------------------
pytest==6.2.5  # https://github.com/pytest-dev/pytest
pytest-sugar==0.9.4  # https://github.com/Frozenball/pytest-sugar
pytest-factoryboy==2.1.0 # https://github.com/pytest-dev/pytest-factoryboy
pytest-mock==3.6.1 # https://github.com/pytest-dev/pytest-mock/

# Django
# ------------------------------------------------------------------------------
factory-boy==3.2.1  # https://github.com/FactoryBoy/factory_boy
django-debug-toolbar==3.2.2  # https://github.com/jazzband/django-debug-toolbar
pytest-django==4.5.1  # https://github.com/pytest-dev/pytest-django
